*{
    margin: 0;
    padding: 0;
}
body{
    background-color: transparent;
}
.card{
    animation: fade-in 0.4s ease;
    transition: all 7s ease-in-out;
    background-color: rgba(1, 1, 1, 0.8);
    color: lightgray;
}
.card-body{
    text-align: center;
}

@keyframes fade-in { 
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes fade-out { 
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(40px);
    }
    
}